html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
	position: relative;
	min-height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
}

header {
	background: #135283;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 25px;
	border-bottom: 3px  #444444 solid;
}

footer {
	position: absolute;
	height:70px;
	width: 100%;
	bottom: 0;
	background: #135283;
	border-top: 3px  #444444 solid;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 22px;
}

textarea {
	resize: none;
}

/*SMALL SCREEN*/
@media screen and (max-width: 768px) {
	header {
		height: 60px;
		min-width: 267px;
	}
	h3 {
		font-size: 1.3rem;
	}
	#header-container {
		height: 60px;
	}
	#header-container > a {
		font-size: 1rem;
		padding: 15px;
		padding-bottom: 14px;
		line-height: 31px;
		float: left;
	}
	#myTopMenu a {
		padding: 18px;
		color: rgb(255,255,255,1);
	}
	#myTopMenu a.icon {
		padding-right: 23px;
		padding-left: 23px;
		padding-bottom: 12px;
	}
	.topMenu a {
		background: #135283;
	}
	#myTopMenu {
		z-index: 1;
	}
	.signin, .signup, .ficheUser, .updateUser, .prestations {
		width: 70%;
	}
}

.button, form button {
  background-color: #EA0000;
  border: 1px solid #b60000;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
  padding:3px;
}

/*BIG SCREEN*/
@media screen and (min-width: 769px) {
	body {
		/*
		background-image: url('../fonts/white_wood.jpg');
		background-size: cover;
		background-repeat: repeat-y;
		background-position: center center;
		*/
	}
	header {
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		/*
		background-image: url('../fonts/blue_wood.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		*/
	}
	footer {
		/*
		background-image: url('../fonts/blue_wood.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		*/
	}
	h2 {
		font-size: 1.75rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	#header-container {
		position: inline-flex;
		width: 90%;
		height: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#header-container > a {
		position: relative;
		left: 0px;
		margin-right: auto;
		padding-right: 50px;
		font-size: 1.25rem;
		min-width: 221px;
	}
	#myTopMenu {
		position: relative;
		right: 0px;
	}
	#myTopMenu a {
		margin-right: 7px;
		margin-left: 7px;
		color: rgb(255,255,255,0.7);
	}
	#myTopMenu a.active {
		color: rgb(255,255,255,1);
	}
	#myTopMenu a:hover {
		color: rgb(255,255,255,1);
	}
	.grid {
		flex-direction: row;
	}
	.column {
		width: 30%;
		min-width: 200px;
		padding-right: 20px;
		padding-left: 20px;
	}
	.column-1 {
		padding-left: 0px;
	}
	.column-3 {
		padding-right: 0px;
	}
	.contact {
		margin-top: 60px;
	}
	.signin, .signup, .ficheUser, .updateUser {
		width: 500px;
		/*
		background-image: url('../fonts/red_wood.jpg');
		background-size: cover;
		background-repeat: repeat-y;
		background-position: center center;
		*/
	}
	.prestations {
		width: 50%;
		/*
		background-image: url('../fonts/red_wood.jpg');
		background-size: cover;
		background-repeat: repeat-y;
		background-position: center center;
		*/
	}

	.reply, .livredor-comment {
		/*
		background-image: url('../fonts/red_wood.jpg');
		background-size: cover;
		background-repeat: repeat-y;
		background-position: center center;
		*/
	}
}

.page-content {
	position: relative;
	padding-bottom: 95px;
	min-width: 384px;
}

.page-header {
	text-align: center;
}

.page-content form {
	padding-left: 10px
}

.page-content form button {
	cursor: pointer;
}

#header-container > a {
	display: block;
	color: rgb(255,255,255,1);
	text-align: center;
	text-decoration: none;
	min-height: 30px
}
#myTopMenu {
	max-height: 100%;
}

.topMenu a {
	float: left;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.topMenu .icon {
	display: none;
}

@media screen and (max-width: 768px) {
	.topMenu a {display: none;}
	.topMenu a.icon {
		float: right;
		display: block;
	}
}


@media screen and (max-width: 768px) {
	.topMenu.responsive {position: relative;}
	.topMenu.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topMenu.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

.title {
	text-transform: uppercase;
}

.title > div {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.contact {

}

.grid {
	width: 80%;
	display: flex;
	margin-right: auto;
	margin-left: auto;
}

.column {
	min-height: 1px;
	padding-top: 20px;
}

.column-content {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 755px) {
	.grid {
		flex-direction: column;
	}
	.column {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.carousel {
	height: 340px;
	width: 100%;
	margin-top: 60px;
}

.slides {
	position: relative;
	height: 100%;
	width: 100%;
}

.slide-1, .slide-2, .slide-3 {
	position: relative;
	display: none;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.slide-1 {
	display: block;
}

.comment-1, .comment-2, .comment-3 {
	position: absolute;
	text-align: center;
	color: rgb(255,255,255,1);
	right: 15%;
	left: 15%;
	top: 50%;
	transform: translateY(-50%);
}

.comment {
	font-size: 18px;
}

.author {
	font-size: 24px;
}

.footer-container {
	position: relative;
	padding-left: 5%;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(255,255,255,1);
}

.carousel-button {
	position: relative;
	position: absolute;
	height: 340px;
	width: 20%;
}

.carousel-button:hover {
	background: rgb(255,255,255,0.05);
}

.carousel-button-prev {
	left: 0px;
}

.carousel-button-next {
	right: 0px;
}

.icon {
	line-height: 30px;
}

.icon-menu {
	max-width: 14px;
}

.carousel-icon {
	position: absolute;
	width: 20px;
	text-align: center;
	padding-top: 148px;
	padding-bottom: 160px;
}

.icon-left {
	right: 50%;
	transform: translateX(-50%);
}

.icon-right {
	left: 50%;
	transform: translateX(-50%);
}

.prestations {
	position: relative;
	margin: 0 auto;
	padding: 3%;
	border: 3px  #444444 solid;
	background-color: #2f2f2f;
	color: rgb(255,255,255,0.7);
	min-width: 200px;
}

.prestation {
	position: relative;
	max-width: 100%;
	margin-bottom: 50px;
	min-width: 200px;
	text-align: center;
}

.prestation img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 600px;
}

.signin, .signup {
	position: relative;
	display: block;
	padding: 5px;
	margin: 0 auto;
	border: 3px  #444444 solid;
	background-color: #2f2f2f;
	color: rgb(255,255,255,0.7);
	margin-top: 25px;
}

#form-group-verif > div {
	position: relative;
	top: 35%;
}

.form-group label, .form-group input {
	display: block;
	position: relative;
}

.page-confirm {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
}

.confirm {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	margin:0 auto;
	border: 3px  #444444 solid;
	background-color: #2f2f2f;
	color: rgb(255,255,255,0.7);
}

.livredor-comment {
	position: relative;
	display: block;
	border: 3px  #444444 solid;
	background-color: #2f2f2f;
	color: rgb(255,255,255,0.7);
	margin: 0 auto;
	margin-bottom: 10px;
	width: 70%;
	padding: 5px;
}

.livredor-comment button {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
}

.reply {
	position: relative;
	display: block;
	border: 3px  #444444 solid;
	background-color: #2f2f2f;
	color: rgb(255,255,255,0.7);
	margin: 0 auto;
	margin-bottom: 10px;
	width: 70%;
	padding: 5px;
}

.reply button {
	position: absolute;
	display: block;
	right:0;
	bottom:0;
}

.reply textarea {
	position: relative;
	display: block;
	bottom: 0;
	left: 0;
	width: 99%;
	height: 150px;
	margin-bottom: 19px;
}

.ficheUser {
	position: relative;
	display: block;
	border: 3px  #444444 solid;
	background-color: #2f2f2f;
	color: rgb(255,255,255,0.7);
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 5px;
}

#textpresta {
	width: 100%;
	height: 10em;
}

.prestation button {
	position: absolute;
	display: block;
	right: 0;
}

.popupConfirm {
	display: none;
	position: relative;
	z-index: 1;
}

.updateUser {
	position: relative;
	display: block;
	padding: 5px;
	margin: 0 auto;
	border: 3px  #444444 solid;
	background-color: #2f2f2f;
	color: rgb(255,255,255,0.7);
	margin-top: 25px;
}

#horaire_calendrier {
  position: relative;
  left: 5%;
  display: inline-block;
}

#calendrier {
  position: relative;
  padding-left: 8.5%;
} 

.horaire_calendrier_p {
  height:7px;
}

#Grille_horaire_calendrier {
  position: relative;
  top: 12px;
  left: 6%;
  display: inline-block;
}

.Grille_horaire {
  width:200px;
  height : 33px;
  border-right:1px solid #848484;
  border-top:1px solid #848484;
  border-left:1px solid #848484;
  background-color: #dbdbdb;
}

.Grille_RDV {
  position: absolute;
  top: 40%; /*de 0% à 92%*/
  height: 200px;
  width:196px;
  border:3px solid #666666;
  background-color: #b5b5b5;
}

.Grille_RDV_dispo {
  border:1px solid #848484;
  width  : 10px;
  height : 10px;
  background : green;
}

.Grille_RDV_p, .Grille_RDV_dispo{
  display: inline-block;
}

#demander_RDV, #modifier_RDV {
  position: relative;
  margin-left: 10%;
  margin-top: 50px;
  border:1px solid #848484;
  padding: 15px;
  display: none;
}

#div_accepter_RDV {
  position: relative;
  top: 12px;
  left: 60%;
  border:1px solid #848484;
  display: inline-block;
}

.accepter_RDV {
  position: relative;
  border:1px solid #848484;
}

.ad{
  display: none;
}

.rendez-vous {
	position: relative;
	display: block;
	border: 3px  #444444 solid;
	background-color: #2f2f2f;
	color: rgb(255,255,255,0.7);
	padding: 15px;
	width: 80%;
	margin: 0 auto;
}